
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>Students</th>
      <% @assignments.each do |assignment| %>
        <th scope="col"><%= assignment.title %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% if current_user.role!=0%>
    <% @users.each do |student| %>
      <tr>
        <td scope="col"><%= "#{student.first_name} #{student.last_name}" %></td>
          <% @assignments.each do |assignment| %>
            <% if(Grade.exists?(user_id: student.id, assignment_id: assignment.id)) %>
              <td scope="col"><%= Grade.find_by(user_id: student.id, assignment_id: assignment.id).score %> </td>
            <% else %>
              <td scope="col"> 0 </td>
            <% end %>
          <% end %>
      </tr>
    <% end %>
  
    <% else %>
      <tr>
        <td scope="col"><%= "#{current_user.first_name} #{current_user.last_name}" %></td>
          <% @assignments.each do |assignment| %>
            <% if(Grade.exists?(user_id: current_user.id, assignment_id: assignment.id)) %>
              <td scope="col"><%= Grade.find_by(user_id: current_user.id, assignment_id: assignment.id).score %> </td>
            <% else %>
              <td scope="col"> 0 </td>
            <% end %>
          <% end %>
      </tr>
    <% end %>  
  </tbody>
  
</table>
<%= link_to 'Back', cohort_path(@cohort), class: "btn btn-secondary btn-sm" %>
