<p id="notice"><%= notice %></p>

<h1>Cohorts</h1>

<br>
<table class="table">

  <thead>
    <tr>
      <th>Title</th>
      <th>Slack</th>
      <th>Description</th>

      <th>Status</th>
      <th>Program</th>

      <th>Start Date</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @cohorts.each do |cohort| %>
      <tr>
        <td><%= link_to cohort.title, cohort %></td>
        <td><%= cohort.slack %></td>
        <td><%= cohort.description %></td>

        <td><% if cohort.status == 0 %>
        Ongoing
      <% elsif cohort.status == 1 %>
        Completed
      <% elsif cohort.status == 2%>
        Setup
        <% else %>
        Archived
      <% end %></td>
        <td><%= cohort.program %></td>
        <td><%= cohort.start_date %></td>
        <% if can? :show, cohort%>
        <td><%= link_to 'Show', cohort %></td>
        <% end %>
        <% if can? :edit, cohort%>
        <td><%= link_to 'Edit', edit_cohort_path(cohort) %></td>
        <% end %>
        <% if can? :destroy, cohort%>
        <td><%= link_to 'Destroy', cohort, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :new , @cohort%>
<%= link_to 'New Cohort', new_cohort_path %>
<% end %>