<p id="notice"><%= notice %></p>


<%= form_with(url: filter_cohort_path, local: true) do |form| %>
  <div class="d-flex flex-row justify-content-end align-content-center">
    <div class="form-group px-2">
      <%= form.label :status, class: "pr-2"%>
      <%= form.select :status, [[''],['Ongoing', 0], ['Completed', 1], ['Setup', 2],['Archived', 3]], :class => "form-control" %>
    </div>
    <div class="form-group px-2">
      <%= form.label :program, class: "pr-2" %>
      <%= form.select :program, [[''],['Bootcamp'], ['Fundamentals'], ['One Year Program'], ['Business']], :class => "form-control" %>
    </div>
  
    <div class="actions">
      <%= form.submit 'Filter', class: "btn btn-dark" %>
    </div>
  </div>
<% end %>

<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>Title</th>
      <th>Slack</th>
      <th>Description</th>
      <th>Status</th>
      <th>Program</th>
      <th>Start Date</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @cohorts.each do |cohort| %>
      <%if(current_user.role>=1 || Registration.exists?(cohort_id: cohort.id, user_id: current_user.id))%>
        
        <%if(!@status || (@status=='' && cohort.program == @program) || (@program=='' && cohort.status == @status)|| (@program=='' && @status =='')||(cohort.status == @status && cohort.program == @program))%>
          <tr>
            <td><%= link_to cohort.title, cohort %></td>
            <td><%= cohort.slack %></td>
            <td><%= cohort.description %></td>

            <td><% if cohort.status == 0 %>
            Ongoing
          <% elsif cohort.status == 1 %>
            Completed
          <% elsif cohort.status == 2%>
            Setup
            <% else %>
            Archived
          <% end %></td>
            <td><%= cohort.program %></td>
            <td><%= cohort.start_date %></td>
            <td>
            <% if can? :show, cohort%>
              <%= link_to 'Show', cohort, class: "btn btn-secondary btn-sm" %> 
            <% end %>
            <% if can? :edit, cohort%>
              <%= link_to 'Edit', edit_cohort_path(cohort), class: "btn btn-secondary btn-sm" %>
            <% end %>
            <% if can? :destroy, cohort%>
              <%= link_to 'Destroy', cohort, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary btn-sm" %> 
            <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    <%end%>
  </tbody>
</table>

<br>


<% if can? :new , @cohort%>
<%= link_to 'New Cohort', new_cohort_path, class: "btn btn-maroon" %>
<% end %>
<br>
<br>
