<p id="notice"><%= notice %></p>

<p>
  <h1>  <%= @cohort.title %></h1>

</p>

<p>
  <strong>Slack:</strong>
  <%= @cohort.slack %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cohort.description %>
</p>

<p>
  <strong>Picture url:</strong>
  <%= @cohort.picture_url %>
</p>

<p>
  <strong>Status:</strong>
  <%= @cohort.status %>
</p>

<p>
  <strong>Program:</strong>
  <%= @cohort.program %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @cohort.start_date %>
</p>
<% if can? :update, @cohort %>
<%= link_to 'Edit', edit_cohort_path(@cohort) %> 
<% end %>




 <%= form_with(model: [@cohort, @block], local: true) do |f| %>
<% if @block.errors.any? %>
  <ul>
    <% @block.errors.full_messages.each do |msg|%>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


  <h2> Add a new Block</h2>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :duration %>
    <%= f.number_field :duration %>
  </div>

  <div class="field">
    <%= f.label :type_of_block %>
    <%= f.text_field :type_of_block %>
  </div>


<%= @block.user %>
<%= f.submit "New Block" %>
<% end %>

<hr />

<ul class="block-list">
  <% @blocks.each do |block| %>
    <li>
      <p>
        <%= link_to block.title, cohort_block_path(@cohort, block) %> <br />
        
        <% if can? :crud, block %>
          <small>
            <%= link_to(
              "Delete",
              cohort_block_path(@cohort, block),
              method: :delete,
              data: {
                confirm: "Are you sure?"
              }
            ) %>
          </small>
        <% end %>
        |
        <small>
          Block <%= block.created_at %> ago
        </small>
      </p>
    </li>
  <% end %>
</ul> 
