<p id="notice"><%= notice %></p>

<div class="container d-flex flex-sm-column flex-md-row justify-content-center">
  <div class="cohort-show">
  <h1 class="cohort-title">  <%= @cohort.title %></h1>
  <br>

  <% if !@cohort.picture_url || @cohort.picture_url == "" %>
  <%= image_tag("cohort-image-placeholder.gif", id: "profile-photo")%>
<% else %>
  <img src="<%=@cohort.picture_url%>" id="profile-photo">
<% end %> 
  </div>

  <div class="user-show" id="user-info">
  <br><br><br>
<p>
  <strong>Slack:</strong>
  <%= @cohort.slack %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cohort.description %>
</p>

<p>
  <strong>Status:</strong>
  <% if @cohort.status == 0 %>
        Ongoing
      <% elsif @cohort.status == 1 %>
        Completed
      <% elsif @cohort.status == 2%>
        Setup
        <% else %>
        Archived
      <% end %>
</p>

<p>
  <strong>Program:</strong>
  <%= @cohort.program %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @cohort.start_date %>
</p>
<p>
  <strong>Members:</strong>
  
  <% @users.each do |student| %>

    <% if student.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% student.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <%= link_to "#{student.first_name} #{student.last_name}, " , user_path(student.id) %>
  <% end %>
</p>

<% if can? :edit, @cohort%>
  <%= link_to 'Edit Cohort', edit_cohort_path(@cohort), class: "btn btn-secondary btn-sm" %>
<% end %>
<% if can? :edit, @cohort%>
  <%= link_to 'Edit Members', new_cohort_registration_path(@cohort), class: "btn btn-secondary btn-sm" %>
<% end %>
  <%= link_to '[View Attendance] - Turn this into a button', cohort_attendance_path(@cohort) %>
<% if can? :destroy, @cohort%>
  <%= link_to 'Delete', @cohort, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary btn-sm" %>
<% end %>

<% if can? :create, @block%>

  <%= form_with(model: [@cohort, @block], local: true) do |f| %>
  <% if @block.errors.any? %>
    <ul>
      <% @block.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
    <br/>
    <h2> Add a new Block</h2>
    <div class="form-group">
      <%= f.label :title %>
      &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
      <%= f.text_field :title %>
    </div>
    <div class="form-group">
      <%= f.label :date %>
      &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
      <%= f.date_select :date %>
    </div>

    <div class="form-group">
      <%= f.label :"duration (hours)" %>
      &emsp; &emsp; &ensp;
      <%= f.number_field :duration %>
    </div>

    <div class="form-group">
      <%= f.label :type_of_block %>
      &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &ensp;
      &emsp; &emsp; 
      <%= f.select :type_of_block, ['Lab', 'Lecture', 'Quiz', 'Study'] %>
    </div>


  <%= @block.user %>
  <%= f.submit "New Block", class: "btn-maroon" %>
  <% end %>
<br>
  <hr />

  <ul class="block-list">
    <% @blocks.each do |block| %>
      <li>
        <p>
          <%= link_to block.title, cohort_block_path(@cohort, block) %> <br />
          
          <% if can? :crud, block %>
            <small>
              <%= link_to(
                "Delete",
                cohort_block_path(@cohort, block),
                method: :delete,
                data: {
                  confirm: "Are you sure?"
                }
              ) %>
            </small>
          <% end %>
          |
          <small>
            <%= block.created_at %>
          </small>
        </p>
      </li>
    <% end %>
  </ul> 

<% end %>
<br><br>
</div>

