<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @cohort.title %>
</p>

<p>
  <strong>Slack:</strong>
  <%= @cohort.slack %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cohort.description %>
</p>

<p>
  <strong>Picture url:</strong>
  <%= @cohort.picture_url %>
</p>

<p>
  <strong>Status:</strong>
  <%= @cohort.status %>
</p>

<p>
  <strong>Program:</strong>
  <%= @cohort.program %>
</p>

<p>
  <strong>Is archived:</strong>
  <%= @cohort.is_archived %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @cohort.start_date %>
</p>

<%= link_to 'Edit', edit_cohort_path(@cohort) %> |
<%= link_to 'Back', cohorts_path %>


 <%= form_with(model: [@cohort, @block], local: true) do |f| %>
<% if @block.errors.any? %>
  <ul>
    <% @block.errors.full_messages.each do |msg|%>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class="form-group">
  <%= f.text_area(
  :title,
  cols: 50,
  rows: 5,
  placeholder: "Create a new Block",
  class: "form-control"
  ) %>
</div>
<%= @block.user %>
<%= f.submit "New Block" %>
<% end %>

<hr />

<ul class="block-list">
  <% @blocks.each do |block| %>
    <li>
      <p>
        <%= block.title %> <br />
        <% if can? :crud, block %>
          <small>
            <%= link_to(
              "Delete",
              cohort_block_path(@cohort, block),
              method: :delete,
              data: {
                confirm: "Are you sure?"
              }
            ) %>
          </small>
        <% end %>
        |
        <small>
          Block <%= block.created_at %> ago
        </small>
      </p>
    </li>
  <% end %>
</ul> 
