<p>
<strong>Title:   </strong> <%= @assignment.title %>
</p>

<p>
<strong>Description:   </strong><%= @assignment.description %>
</p>

<p>
<strong>Attachment:   </strong><a href="#"><%= @assignment.attachment %></a>
</p>

<br>


<%= link_to 'Back', cohort_assignments_path(@cohort), class: "btn btn-secondary btn-sm" %>

<%= link_to 'Edit', edit_cohort_assignment_path(@cohort), class: "btn btn-secondary btn-sm" %>