<h3>Change Password for <%= @user.first_name + ' ' + @user.last_name %></h3>

<%= form_with model: @user, url: update_password_user_path, local: true do |f| %>
    <% if @user.errors.any?%>
        <p>
            <%= @user.errors.full_messages.join(', ')%>
        </p> 
    <% end %>
    <div></div>
    <div>
      <%= f.label :current_password %>
      <%= f.password_field :current_password, class: "form-control" %>
    </div>
    <div>
      <%= f.label :new_password %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <div>
      <%= f.label :new_password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
    <%= f.submit "Update Password", class: "btn my-5" %>
<% end %>