<h1 class="text-center">New User</h1>

<%= render 'form', user: @user %>

<h4>Import data from a CSV file</h4>
<%=form_with url: import_users_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import CSV" %>
<% end %>
<br>
<br>


<%= link_to 'Back', users_path %>
