<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @block.title %>
</p>
<p>
  <strong>Date:</strong>
  <%= @block.date %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @block.duration %>
</p>

<p>
  <strong>Type of block:</strong>
  <%= @block.type_of_block %>
</p>



<%= link_to 'Edit', edit_cohort_block_path(@cohort, @block) %> |
<%= link_to 'Back', cohort_path(@cohort) %>
