
<table class="table">

  <tr>
    <th scope="col"></th>
    <% @blocks.each do |block| %>
      <th scope="col"><%= block.title %></th>
    <% end %>
  </tr>
  <% if current_user.role!=0%>
    <% @users.each do |student| %>
      <tr>
        <th scope="col"><%= "#{student.first_name} #{student.last_name}" %></th>
          <% @blocks.each do |block| %>
            <% if(Attendance.exists?(user_id: student.id, block_id: block.id)) %>
              <td scope="col"><%= image_tag("checkmark.png", size: "20x20") %> </td>
            <% else %>
              <td scope="col"><%= image_tag("x.png", size: "20x20") %> </td>
            <% end %>
          <% end %>
      </tr>
    <% end %>

  <% else %>
      <tr>
        <th scope="col"><%= "#{current_user.first_name} #{current_user.last_name}" %></th>
          <% @blocks.each do |block| %>
            <% if(Attendance.exists?(user_id: current_user.id, block_id: block.id)) %>
              <td scope="col">ok</td>
            <% else %>
              <td scope="col"> </td>
            <% end %>
          <% end %>
      </tr>
  <% end %>    
</table>
