<!DOCTYPE html>
<html>
  <head>
    <title>CertifiedOut</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

  </head>

  <body>

  <% if current_user.present? %>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">

    <%= link_to image_tag('certified.out_logo.png'), root_path %>
    </div>
    <ul class="nav navbar-nav">

      
      <a class="btn btn-light" href="/" role="button">Home</a>
      <% if can? :index, @user%>
      <a class="btn btn-light" href="/users" role="button">Students</a>
      <% end %>
      <a class="btn btn-light" href="/cohorts" role="button">Cohorts</a>
      <%= link_to "Profile", user_path(current_user.id), class: "btn btn-light" %>

      <% if user_signed_in?%>
<%= link_to "Sign Out", session_path, method: :delete, class: "btn btn-light",
        data: {confirm: "Are you sure you want to log out?"}%>
    
    </ul>
    <% end %>
  <%#= flash[:notice] || flash[:alert] %>

    </div>
  <% end %>

  </nav>
  <div class="body-container">
    <%= yield %>

  </div>



    <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://www.youtube.com/watch?v=oHg5SJYRHA0" class="footer-link"> Cohort 34</a>
  </div>
  </body>
</html>
